body {
	background-image: url("food/Idli-Dosa.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
}
#box {
	position: absolute;
	width: 500px;
	background: rgba(0,0,0,0.5);
	margin: auto;
	color: white;
	vertical-align: center;
	top: 25%;
	left: 35%;
	text-align: center;
}
#box table th {
	font-size: 18px;
}
#box table td{
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}
table {
	padding-left: 10px;
}
table input{
	width:45px;
}
textarea {
	padding-bottom: 50px;
}